<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora WEB</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <style>
        /* Aquí puedes agregar estilos específicos para esta plantilla si es necesario */
    </style>
</head>

<body>
    <div id="calculadora">

        <h1>Calculadora WEB</h1>

        <form method="post" action="">
            {% csrf_token %}
            {{ form.expression }}
            <br>

            <!-- Botones para números y operadores -->
            {% for i in "789/456*123-0.C+=" %}
                <input type="button" value="{{ i }}" onclick="appendCharacter('{{ i }}')">
                {% if forloop.counter|divisibleby:3 and not forloop.last %}
                    <br>
                {% endif %}
            {% endfor %}
        </form>

        <div id="info"></div>

        <!-- Script para manejar la lógica de la calculadora -->
        <script>
            function appendCharacter(character) {
                // Lógica para agregar el carácter al campo de expresión
                var expressionField = document.getElementById("id_expression");
                expressionField.value += character;
            }

            // Otros scripts y funciones necesarios para la lógica de la calculadora

        </script>
    </div>
</body>

</html>
